


h1 {
    font-size: 30px;
    font-weight: normal;
    color: white;
    text-align: center;
    font-family: 'Roboto light';
}

h3 {

    font-size: 12px;
    font-weight: normal;
    color: white;
    text-align: center;
    font-family: 'Roboto light';
    margin: 0;
    line-height: 160%;

}


.container {

    background-image: url("design-assets/bgk-header.png");
    background-image: no-repeat;
    display: flex;
    color: white;
    height: 650px;
    justify-content: center;
    align-items: center;
    flex-direction: column;



}

.bg-image-text {
    display: flex;
    justify-content: center;
    align-items: center;
        
      }

.bg-image-text2 {
    
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    
      
}


hr {
    border: .1px solid #5ec6c0;
    width: 45px;
    margin-bottom: 35px;
}

.button {
    position: relative;
    text-align: center;
    width: 75px;
    padding: 9px;
    margin-top: 50px;
    font-size: 10px;
    color: #15f4ee;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    border: 1px solid #15f4ee;
    text-transform: uppercase;
    border-radius: 2px;
}

.button:hover {
    box-shadow: 0 1px 5px 0 #15f4ee inset, 0 1px 5px 0 #15f4ee,
                0 1px 5px 0 #15f4ee inset, 0 1px 5px 0 #15f4ee;
    text-shadow: 0 5 10px #15f4ee, 0 5 10px #068884;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .container-of-form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    
  }

    .image-container { 
        width:130px;
        height:70px;
        text-align:center;
        float: left;
        object-fit: cover;
        
  }

  .container-logos {

    display: flex;
    color: white;
    height: 55px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .container-zara {
    
    
    background-image: no-repeat;
    display: flex;
    color: rgb(190, 29, 29);
    max-height: 15%;
    max-width: 15%;
    align-items: left;
    flex-direction: column;
   
    
}


.container-mango {

    
    background-image: no-repeat;
    display: flex;
    color: rgb(190, 29, 29);
    max-height: 15%;
    max-width: 15%;
    align-items: left;
    flex-direction: column;
    
}
