h2 {
  font-family: roboto serif;
  color: black;
}

p {
  font-family: "Playfair Display", sans-serif;
  line-height: auto;
  margin-top: 1;
  margin-bottom: 1;
}

.general {
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.general1 {
  display: flex;
  height: 100%;
  width: 100%;
  margin-top: auto;
  padding-left: 200px;
  margin-left: 700px;
  margin-right: 50px;
}

.general2 {
  align-items: left;
  height: 100%;
  width: 200%;
  display: flex;
  flex-direction: column;
  color: #615f66;
  padding-right: 230px;
  margin-right: 400px;
}

.background {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.Play {
  position: absolute;
  padding-bottom: 1.5rem;
  padding-left: 0.875rem;
  transition: transform 500ms;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.watch-section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
}

h5 {
  display: flex;
  font-family: roboto black serif;
  justify-content: center;
}

hr {
  display: block;
  width: 60px;
  color: #615f66;
  position: absolute;
  border: 3px solid green;
}

#Lorem {
  justify-content: center;
  display: flex;
  position: relative;
  border: 3px solid green;
}

.background2 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: auto;
  width: auto;
  z-index: -1;
  border: 3px solid green;
}

.box {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  row-gap: 2px;
  border: 3px solid green;
}
.Intro {
  border: 3px solid green;
}

.box_item {
  background-color: white;
  height: 220px;
  width: 200px;
  border: 1px solid lightgrey;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  row-gap: 2px;
  border: 3px solid green;
}

.Items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100px;
  width: 100px;
  flex-direction: row;
  border: 3px solid green;
}

.container_item {
  display: flex;
  background-color: dodgerblue;
  height: 100px;
  width: 100px;
  border: 1px solid lightgrey;
  text-align: center;
  flex-grow: 1;
}

.members {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
