html {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: roboto serif;
  color: black;
}

p {
  font-family: "Playfair Display", sans-serif;
  line-height: auto;
  margin-top: 1;
  margin-bottom: 1;
}

.general {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  left: 0;
  top: 0;
  gap: 100px;
}

.general1 {
  align-items: center;
  display: inline-flex;
  padding-left: 500px;
  height: 80%;
  weight: 100%;
}

.general2 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  color: #7b8288;
  column-count: 1;
  margin-right: 120px;
}

.background {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.Play {
  position: absolute;
  padding-bottom: 1.5rem;
  padding-left: 0.875rem;
  transition: transform 500ms;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
.watch-section {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
}
h5 {
  display: flex;
  font-family: roboto black serif;
  justify-content: center;
}

hr {
  display: block;
  width: 60px;
  color: #615f66;
  position: absolute;
}

#Lorem {
  justify-content: center;
  display: flex;
  position: relative;
}

.background2 {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: auto;
  width: auto;
  z-index: -1;
}

.box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  row-gap: 2px;
}

.box_item {
  background-color: white;
  height: 220px;
  width: 200px;
  border: 1px solid lightgrey;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  row-gap: 2px;
}

.Items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100px;
  width: 100px;
  flex-direction: row;
}

.container_item {
  display: flex;
  background-color: dodgerblue;
  height: 100px;
  width: 100px;
  border: 1px solid lightgrey;
}

.members {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
